
.App {
  text-align: center;
  padding: 5%;
  height: 100%;
  position: relative;
}

.DarkMode {
  background-color: #0f1214 !important;
  color: white !important;
  border-color: white !important;
  transition: background-color 0.5s, color 0.5s;
}

.LightMode {
  background-color: white !important;
  color: #0f1214 !important;
  border-color: #0f1214 !important;
  transition: background-color 0.5s, color 0.5s;
}